<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="true">

    <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="com.ubuniworks"/>

    <!-- Add new DAOs here -->

    <!--&lt;!&ndash;IdeaManager-START&ndash;&gt;-->
    <!--<bean id="ideaManager" class="com.ubuniworks.service.impl.GenericManagerImpl">-->
    <!--<constructor-arg>-->
    <!--<bean class="com.ubuniworks.dao.hibernate.GenericDaoHibernate">-->
    <!--<constructor-arg value="com.ubuniworks.model.Idea"/>-->
    <!--<property name="sessionFactory" ref="sessionFactory"/>-->
    <!--</bean>-->
    <!--</constructor-arg>-->
    <!--</bean>-->
    <!--&lt;!&ndash;IdeaManager-END&ndash;&gt;-->


    <!--CommentManager-START-->
    <bean id="commentManager" class="com.ubuniworks.service.impl.GenericManagerImpl">
        <constructor-arg>
            <bean class="com.ubuniworks.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.ubuniworks.model.Comment"/>
                <property name="sessionFactory" ref="sessionFactory"/>
            </bean>
        </constructor-arg>
    </bean>
    <!--CommentManager-END-->

    <!--MilestoneManager-START-->
    <bean id="milestoneManager" class="com.ubuniworks.service.impl.GenericManagerImpl">
        <constructor-arg>
            <bean class="com.ubuniworks.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.ubuniworks.model.Milestone"/>
                <property name="sessionFactory" ref="sessionFactory"/>
            </bean>
        </constructor-arg>
    </bean>
    <!--MilestoneManager-END-->

    <!--ExperienceManager-START-->
    <bean id="experienceManager" class="com.ubuniworks.service.impl.GenericManagerImpl">
        <constructor-arg>
            <bean class="com.ubuniworks.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.ubuniworks.model.Experience"/>
            </bean>
        </constructor-arg>
    </bean>
    <!--ExperienceManager-END-->

    <!--TagManager-START-->
    <bean id="tagManager" class="com.ubuniworks.service.impl.GenericManagerImpl">
        <constructor-arg>
            <bean class="com.ubuniworks.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.ubuniworks.model.Tag"/>
            </bean>
        </constructor-arg>
    </bean>
    <!--TagManager-END-->

    <!--PastprojectManager-START-->
    <bean id="pastprojectManager" class="com.ubuniworks.service.impl.GenericManagerImpl">
        <constructor-arg>
            <bean class="com.ubuniworks.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.ubuniworks.model.Pastproject"/>
            </bean>
        </constructor-arg>
    </bean>
    <!--PastprojectManager-END-->

    

    <!--SummaryManager-START-->
    <bean id="summaryManager" class="org.appfuse.service.impl.GenericManagerImpl">
        <constructor-arg>
            <bean class="org.appfuse.dao.hibernate.GenericDaoHibernate">
                <constructor-arg value="com.ubuniworks.model.Summary"/>
            </bean>
        </constructor-arg>
    </bean>
    <!--SummaryManager-END-->

    <!-- Add new Managers here -->

    <!-- Configure and Alternative PasswordTokenManager -->
    <!-- <bean id="passwordTokenManager" class="com.ubuniworks.service.impl.PersistentPasswordTokenManagerImpl" autowire="default" /> -->
</beans>